@charset "utf-8";
/* CSS Document */

@font-face { font-family: 'Cafe24Dangdanghae'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.2/Cafe24Dangdanghae.woff') format('woff'); font-weight: normal; font-style: normal; }



body { font-family: 'NanumSquare','Cafe24Dangdanghae', sans-serif; font-size:16px; line-height:26px; color:#000; }


#wrap { min-width:1200px; overflow:hidden; }
#header { position:fixed; z-index:99999; width: 100%; height:73px; background:#f2f0e9; left: 0; top: 0; }

#header .header_inner { width:1200px; margin:0 auto; position:relative;   }
#header .header_inner h1 { position:absolute; left:0; top:0;  }
#header .header_inner .gnb { position:absolute; left:300px; top:0; width:750px; height:73px;  }

#header .header_inner .gnb>li { float:left; width:calc(100%/5); font-size:22px; height:73px; }

#header .header_inner .gnb>li>a { display:block; color:#3c2f27; font-weight:600; padding:0 15px; padding-top:30px; box-sizing:border-box; text-align:center; height:73px; }



#header .dp2 {  transition:background 0.5s; padding-top:12px;  height:230px; box-sizing:border-box;  }
#header .dp2 li>.dp3 a{ display:block; font-size:13px; line-height:20px; color:#3c2f27;}
#header .dp2 >li { text-align:center;   }
#header .dp2 >li> a { transition:color 0.3s; color:#3c2f27; line-height:30px; font-weight:400; font-size:18px; box-sizing:border-box;  }

#header .gnb>li:hover>.dp2 { width:100%; background:rgba(60,47,39,0.9);  }
#header .gnb>li:hover>.dp2>li>a { display:block; color:#ddd; }
#header .gnb>li:hover>.dp2>li>.dp3>li>a { display:block; color:#ddd;}


#header .util { height:70px; position:absolute; right:0; top:30px; }
#header .util li { float:left; padding-left:15px; }
#header .util li a { display:block; text-transform:uppercase; color:#3c2f27;; font-weight:600; font-size:16px;  }

#header .dp2_bg { background:#f2f0e9; opacity:0.7; width:100%; position:absolute; left:0; top:73px; height:230px; z-index:-9999;  }

#sub_visual { color:#fff; width:100%; margin-top:70px; height:330px; position:relative; }
.exhibition_bg { background:url('../images/sub/subbanner2.gif') no-repeat center top; }

#sub_visual h2 { font-size:55px; text-align:center; padding-top:140px; }
#sub_visual .direction { width:100%; background:rgba(211,148,46,0.6); height:60px; position:absolute; left:0; bottom:0; }

#sub_visual .direction .direction_inner { width:1200px; height:60px; margin:0 auto; position:relative; }
#sub_visual .home { width:60px; height:60px; border-left:1px solid rgba(255,255,255,0.3); padding:14px; box-sizing:border-box;
opacity:0.6; }

#sub_visual .lnb { position:absolute; left:60px; top:0; height:60px; }
#sub_visual .lnb>li { float:left; font-size:20px; width:210px; height:60px; border-left:1px solid rgba(255,255,255,0.3); }
#sub_visual .lnb>li:last-child { border-right:1px solid rgba(255,255,255,0.3); }
#sub_visual .lnb>li>a { display:block; color:rgba(255,255,255,0.5); padding:20px 15px; height:60px;   box-sizing:border-box; }
#sub_visual .lnb>li>a:hover { display:block; color:#fff; font-weight:bold; }

#sub_visual .sub_dp { transition:background 0.5s; width:211px; box-sizing:border-box; border:1px solid #796d65;
padding:20px 15px; background:#fff; }

#sub_visual .sub_dp>li>a { display:block; color:#796d65; padding-bottom:4px; font-size:16px; z-index:9999; }


#sub_visual .sub_dp>li>a:hover { color:rgb(211,148,46); font-weight:bold; }



#sub_visual .share { position:absolute; right:0; top:0;  }
#sub_visual .share li {float:left; }
#sub_visual .share li:nth-child(1) a { display:block; width:60px; height:60px; border-left:1px solid rgba(255,255,255,0.3); padding:13px; box-sizing:border-box; opacity: 0.6; }

#sub_visual .share li:nth-child(2) a { display:block; width:60px; height:60px; border-left:1px solid rgba(255,255,255,0.3); padding:13px; box-sizing:border-box; opacity: 0.6; }


#content { width:100%; background:#f2f0e9;  box-sizing: border-box;  padding-bottom: 80px; }
#content .content_intro { text-align:center; }
#content h3 { padding:60px 0 40px; font-size: 40px; color:#3c2f27; }
#content h4 { font-size: 30px; }

#content .subtitle { padding:70px 0 90px; line-height: 26px; font-size: 22px; color:#796d65; letter-spacing: 0.5px;}
#content .dunkel { color:#3c2f27; font-weight:bold; }

#content .main_banner { position:relative;  width:100%;  }
#content .main_banner li { transform:scale(0.8,0.8); opacity:0.7; }

#content .main_banner .slick-center { transform: scale(0.98,0.98); opacity: 1; box-shadow: 5px 5px 5px rgba(0,0,0,0.5); }




#content .slick-arrow { width: 40px; height: 40px; position: absolute; top: 50%; margin-top: -50px; border-top: 5px solid #634F20; border-left: 5px solid #634F20; border-right: 5px solid transparent; border-bottom: 5px solid transparent;  text-indent: -9999px; color: transparent; outline: none;  background:transparent; cursor: pointer; }
#content .slick-prev { left: 24%; transform: rotate(-45deg); z-index:9999px; }
#content .slick-next { right: 24%; transform: rotate(135deg); z-index:9999px; }

#content .slick-dots { text-align: center; padding-top: 3.125vw; } /* p:60 */

#content .slick-dots li { display: inline-block; background: #634F20; width: 15px; height: 15px; margin: 0 10px; border-radius: 10px; transition: all 0.2s; text-indent: -9999px; cursor: pointer; }
#content .slick-dots li.slick-active { background: #3c2f27; } 



#footer { height: 420px; background:#3c2f27; position:relative; }
#footer::before { content:""; width:100px; height: 1px; opacity: 0.6; background: #bbb; position: absolute; left:0; bottom: 30px; }

#footer .footer_up { background: #fff; height:155px; }
#footer .logo_box { width: 1200px; margin: 0 auto; padding-top:50px; }
#footer .logo_box::after { content:""; display:block; clear:both; }
#footer .logo_box li { width: calc(100%/5); float: left; }

#footer .footer_under { width: 100%; height: 270px; background:#3c2f27; position: relative; }
#footer .footer_under .footer_menu { width:840px; position:absolute; left:370px; top:35px; }
#footer .footer_under .footer_menu li { width:calc(100%/5); float: left; }
#footer .footer_under .footer_menu li a { color:#fff; }
#footer .footer_under h1 { position: absolute; left:368px; top:85px; }

#footer .footer_under address { position: absolute; left:645px; top:85px; color:#bbbbbb; font-size: 18px; font-style: normal; }
#footer .footer_under span { position: absolute; left:645px; top:130px; line-height: 20px; color:#bbbbbb; font-size: 14px; }
#footer .footer_under p { text-align: center; font-style:italic; font-size: 18px; color:#fff; }
#footer .sns_menu { width: 360px; position:absolute; left:1380px; top:35px; }
#footer .sns_menu li { padding-left: 10px; float: left; box-sizing: border-box; }
#footer .copyright { font-size:13px; display: block; position:absolute; left:38%; color:#666; bottom: 0; opacity: 0.6; padding-top: 10px; }


