@charset "utf-8";
/* CSS Document */

@font-face { font-family: 'Cafe24Dangdanghae'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.2/Cafe24Dangdanghae.woff') format('woff'); font-weight: normal; font-style: normal; }


* { margin:0; padding:0; }
ol,ul { list-style:none; }
table { border-collapse:collapse; }
a:link,a:visited,a:hover,a:active,a:focus { color:#000; text-decoration:none; }

body { font-family: 'NanumSquare','Cafe24Dangdanghae', sans-serif; font-size:16px; line-height:26px; color:#000; }


#wrap { min-width:1200px; overflow:hidden; }
#header { position:fixed; z-index:99999; width: 100%; height:73px; background:#f2f0e9; left: 0; top: 0; }

#header .header_inner { width:1200px; margin:0 auto; position:relative;   }
#header .header_inner h1 { position:absolute; left:0; top:0;  }
#header .header_inner .gnb { position:absolute; left:300px; top:0; width:750px; height:73px;  }

#header .header_inner .gnb>li { float:left; width:calc(100%/5); font-size:22px; height:73px; }

#header .header_inner .gnb>li>a { display:block; color:#3c2f27; font-weight:600; padding:0 15px; padding-top:30px; box-sizing:border-box; text-align:center; height:73px; }



#header .dp2 {  transition:background 0.5s; padding-top:12px;  height:230px; box-sizing:border-box;  }
#header .dp2 li>.dp3 a{ display:block; font-size:13px; line-height:20px; color:#3c2f27;}
#header .dp2 >li { text-align:center;   }
#header .dp2 >li> a { transition:color 0.3s; color:#3c2f27; line-height:30px; font-weight:400; font-size:18px; box-sizing:border-box;  }
#header .gnb>li:hover>.dp2 { width:100%; background:rgba(60,47,39,0.9);  }
#header .gnb>li:hover>.dp2>li>a { display:block; color:#ddd; }
#header .gnb>li:hover>.dp2>li>.dp3>li>a { display:block; color:#ddd;}


#header .util { height:70px; position:absolute; right:0; top:30px; }
#header .util li { float:left; padding-left:15px; }
#header .util li a { display:block; text-transform:uppercase; color:#3c2f27;; font-weight:600; font-size:16px;  }

#header .dp2_bg { background:#f2f0e9; opacity:0.7; width:100%; position:absolute; left:0; top:73px; height:230px; z-index:-9999;  }






#sub_visual { color:#fff; width:100%; margin-top:70px; height:330px; position:relative;   }
.introduce_bg { background:url('../images/sub/subbanner.png') no-repeat center top; }
.exhibition_bg { background:url('../images/sub/subbanner2.gif') no-repeat center top; }

#sub_visual h2 { font-size:55px; text-align:center; padding-top:140px; }
#sub_visual .direction { width:100%; background:rgba(211,148,46,0.60); height:60px; position:absolute; left:0; bottom:0; ;  }
#sub_visual .direction .direction_inner { width:1200px;height:60px; margin:0 auto; position:relative;  }
#sub_visual .home { width:60px; height:60px; border-left:1px solid rgba(255,255,255,0.3);  padding:14px; box-sizing:border-box; opacity:0.6; }

#sub_visual .lnb  { position:absolute; left:60px; top:0; height:60px; }
#sub_visual .lnb>li { float:left; font-size:20px; width:210px; height:60px; border-left:1px solid rgba(255,255,255,0.3); }
#sub_visual .lnb>li:last-child { border-right:1px solid rgba(255,255,255,0.3);}
#sub_visual .lnb>li>a { display:block; color:rgba(255,255,255,0.5); height:60px; box-sizing: border-box; padding:20px 15px;  }


#sub_visual .lnb >li>a:hover { display:block; color:#fff; font-weight:bold; }


#sub_visual .sub_dp { transition:background 0.5s; width:211px;  box-sizing:border-box;  border:1px solid #796d65; padding:20px 15px; background:#fff; }
#sub_visual .sub_dp>li>a { display:block; color:#796d65; padding-bottom:4px;font-size:16px; z-index:9999;  }

#sub_visual .sub_dp>li>a:hover { color:rgb(211,148,46); font-weight:bold;  }




#sub_visual .share  { position:absolute; right:0; top:0;  }
#sub_visual .share li { float:left; }

#sub_visual .share li:nth-child(1) a { display:block ; width:60px; height:60px; border-left:1px solid rgba(255,255,255,0.3);  padding:13px; box-sizing:border-box; opacity:0.6; }
#sub_visual .share li:nth-child(2) a {display:block ;width:60px; height:60px; border-right:1px solid rgba(255,255,255,0.3) ;border-left:1px solid rgba(255,255,255,0.3);  padding:14px; box-sizing:border-box; opacity:0.6; }





#contents { height:2000px; background:#f2f0e9; }
#contents .content_intro { width:1200px; margin:0 auto; text-align:center;  }

#contents h3 { padding:60px 0 40px; font-size:40px; color:#3c2f27; }
#contents h4 { font-size:30px; } 



#contents .subtitle { padding:70px 0 90px; line-height:26px; font-size:22px; color:#796d65; letter-spacing:0.5px;   }
#contents .dunkel { color:#3c2f27; font-weight:bold; }

#contents .desc { padding:65px 0 30px; font-size:17px; color:#796d65; letter-spacing:0.1px; }
#contents .desc strong { font-size:19px; }


#contents .named { font-size:22px; width:400px; margin:0 auto; padding-left:70px; color:#796d65; letter-spacing:0.1;  } 
#contents .named::after { content:""; display:block; clear:both; }
#contents .named li { float:left; }
#contents .named li:nth-child(1) { font-size:18px; padding-top:50px; }
#contents .named li:nth-child(2) { font-size:25px; font-weight:bold;  padding:50px 5px 0 3px }



#banner2 { height:500px; margin:150px 0; }











#footer { height:420px; background:#3c2f27; position: relative; }
#footer:before { content: ""; width: 100%; height: 1px; opacity:0.6; background: #bbb; position: absolute; left: 0; bottom: 30px; }

#footer .footer_up { background:#fff; height:155px;  }
#footer .logo_box { width:1200px; margin:0 auto; padding-top:50px; }
#footer .logo_box::after { content:""; displiay:block; clear:both; }
#footer .logo_box li { width:calc(100%/5); float:left; }

#footer .footer_under { width:100%; height:270px; position:relative; }
#footer .footer_under .footer_menu { width:840px; position:absolute; left:370px; top:35px;  }
#footer .footer_under .footer_menu li { width:calc(100%/5); float:left;  }
#footer .footer_under .footer_menu li a { color:#fff;  }
#footer .footer_under h1 { position:absolute; left:368px; top:85px;  }

#footer .footer_under address { position:absolute; left:645px; top:85px; color:#BBBBBB; font-size:18px; font-style:normal; }
#footer .footer_under span { position:absolute; left:645px; top:130px; line-height:20px; color:#BBBBBB; font-size:14px;  }
#footer .footer_under p { text-align:center; font-style:italic; font-size:18px; color:#fff;   }
#footer .sns_menu { width:360px; position:absolute; left:1380px; top:35px; }
#footer .sns_menu li { padding-left:10px; float:left; box-sizing:border-box;  }
#footer .copyright { font-size:13px; display:block; position:absolute; left:38%; color:#666; bottom:5px; opacity:0.6; padding-top: 10px; }






